body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/img/bg.png) center;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@keyframes spin{
  100% {
    transform: rotate(720deg);
  }
}

@keyframes fadeIn{
  100% {
    opacity: 1;
  }
}

.spinner {
  width: 55.41px;
  height: 60.77px;
  background: url(./assets/img/ico-message.png) no-repeat center/ contain;
  animation: spin 2.5s cubic-bezier(0.38, 0.12, 0.56, 0.9) infinite,
  fadeIn 0.2s ease forwards;
}
